// brand colors
:root {
    --c-brand: #ff0000;
    --c-brand-light: #ff0000;

    --waline-theme-color: #ff0000 !important;
    --waline-active-color: #ff0000 !important;
}

html.dark {
    // brand colors
    --c-brand: #ff0000;
    --c-brand-light: #ff0000;
}